<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-block">
    <b>* Simple Book Content Management System *</b>
    <br><br>
    <ul>
      <li><b> Login page: </b></li>
      <ul>
        <li><p> only Put your Paasword for login, Which u have. </p></li>

      </ul>
      <li><b> Entry Page: </b></li>
      <ul>
        <li><p>For Create new book information.</p></li>
      </ul>
      <li><b>Dashboard/Home Page: </b></li>
      <ul>
        <li><p>To show Created entry on Dashboard.</p></li>
      </ul>
    </ul>
  </div>
</div>
